<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{movie}}</title>
    <style>
        body{
            background-color: black;
        }
        .delete{
            display: block;
            background: #5e5e68;
            width: fit-content;
            padding: 10px;
            text-align: center;
            border-radius: 10px;
            color: black;
            margin: 5px;
            text-decoration: none;
        }
        .text{
            color: white;
            margin: auto;
        }
    </style>
</head>
<body>
    <h1 class="text">{{movie.title}}</h1>
    <h3 class="text">{{movie.year}}</h3>
    <a class="delete" href="/movies/delete/{{movie.id}}">DELETE</a>
</body>
</html>