<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movies Database</title>
    <style>
        body{
            background-color: #222222;
        }
        h1{
            color: white;
        }
        li{
            color: white;
            list-style-type:none;
        }
        .list-span{
            font-size: 80%;
            color: #aaaaaa;
        }
    </style>
</head>
<body>
    <h1>Movies: </h1>
    <ul>
    {% for movie in movies %}
        <li>
            <h2>{{movie.title}} <span class = "list-span">({{movie.year}})</span></h2>
            
        </li>
    {% endfor %}
    </ul>
</body>
</html>